/* Bulk styles, wrapping other elements */

html {
    border-left: 5px;
    border-color: lightgray;
}

body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;

}

header, main, footer {
    padding: 1rem 2rem;
}

article {
    margin-bottom: 4rem;
    border: 1px lightgray;
    border-bottom-style: solid;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

/* Heading/image styles, broad elements */

h1 {
    color: tomato;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

h6 {
    text-align: right;
    font: bolder;
    color: tomato;
}

/* Nav list styles */

#top-nav-list {
    color: lightgray;
}

#top-nav-list h2 {
    color: black;
}

#top-nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

#top-nav-list a {
    color: lightgray;
    font-size: 2rem;
}

#bottom-nav-list {
    justify-content: space-between;
}

#bottom-nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

#bottom-nav-list a {
    color: tomato;
    border-color: tomato;
    border-style: none groove;
    font-size: 2rem;
    text-decoration: none;
}

/* Class and ID styles */

.article-title {
    font-size: 3rem;
    color: black;
}

.page-top-title {
    font-size: 2rem;
}

.date-banner {
    color: lightgray;
    font-size: 3rem;
}

#copyright {
    color: lightgray;
    font-size: 2rem;
}

/* Specific item styles */

article p::first-letter {
    color: lightgray;
    font-size: 5rem;
}